body {
  background: #f9f7fe;
  font-family: Cerebri-Sans, Helvetica, Arial, sans-serif;
}

h1 {
  color: #272142;
  margin: 20px 0 10px;
  line-height: 29px;
  font-weight: 700;
  font-size: 38px;
  line-height: 48px;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  font-weight: 500;
  margin-bottom: 5px;
  color: rgba(39, 33, 66, 0.4);
  font-size: 16px;
  line-height: 20px;
  text-transform: capitalize;
}

.weather-app-wrapper {
  max-width: 800px;
  margin: 60px auto;
}

.weather-app {
  padding: 40px;
  background: #fff;
  border-radius: 16px;
  box-shadow: 0 30px 50px rgb(65 50 100 / 8%);
  color: #878787;
}

.overview {
  margin-bottom: 20px;
}

.weather-temperature img {
  margin-right: 5px;
  height: 64px;
  width: 64px;
}

.weather-temperature strong {
  color: #212121;
  font-weight: 400;
  font-size: 64px;
  line-height: 1;
}

.weather-temperature .units {
  position: relative;
  font-size: 16px;
  top: -34px;
}
